params {
    reads = ''
    phred = 33
    collapse = false
    ancient = false
    results = './results'
    pairedEnd = true
    help = false
    mpa_db_name = "mpa_v30_CHOCOPhlAn_201901"
    bt2db = "${baseDir}/btdb"
    minread = 100
    coverage = 2
    pydamage_plot = false
    multiqc_config = "${baseDir}/assets/multiqc_config.yaml"
}

process.container = 'maxibor/metaphlan-nf:latest'

profiles {
    standard {
        executor {
            name = 'local'
        }
         process{
            withLabel : 'intenso' {
                cpus = 8
                memory = '9G'
            }
            withLabel : 'expresso' {
                cpus = 6
                memory = '2G'
            }
            withLabel : 'ristretto' {
                cpus = 1
                memory = '2G'
            }
        }
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda = "$baseDir/envs/environment.yml"
    }
    test {
        executor {
            name = 'local'
        }
         process{
            cpus = 1
            memory = '4G'
        }
        params {
            reads = "$baseDir/test/reads/*.{1,2}.fastq.gz"
            phred = 64
        }
    }
    test_local {
        executor {
            name = 'local'
        }
         process{
            cpus = 6
            memory = '8G'
        }
        params {
            reads = "$baseDir/test/reads/*.{1,2}.fastq.gz"
            phred = 64
        }
    }
    shh_sdag {
        executor {
            name = 'slurm'
            queueSize = 10
        }
        singularity {
            runOptions = '-B /run/shm:/run/shm'
            cacheDir = "/projects1/singularity_scratch/cache/"
        }
        process{
            withLabel : 'intenso' {
                queue = 'short'
                cpus = 8
                memory = '12G'
                time = '2h'
            }
            withLabel : 'expresso' {
                queue = 'short'
                cpus = 6
                memory = '2G'
                time = '1h'
            }
            withLabel : 'ristretto' {
                queue = 'short'
                cpus = 1
                memory = '2G'
                time = '30m'
            }
            withLabel: 'long_single' {
                queue = 'short'
                cpus = 1
                memory = '8G'
                time = '2h' 
            }
        }
    }
    shh_cdag {
        executor {
            name = 'slurm'
            queueSize = 10
        }
        singularity {
            runOptions = '-B /run/shm:/run/shm'
            cacheDir = "/projects1/singularity_scratch/cache/"
        }
        process{
            withLabel : 'intenso' {
                queue = 'long'
                cpus = 8
                memory = '12G'
                time = '2h'
            }
            withLabel : 'expresso' {
                queue = 'long'
                cpus = 6
                memory = '2G'
                time = '1h'
            }
            withLabel : 'ristretto' {
                queue = 'long'
                cpus = 1
                memory = '2G'
                time = '30m'
            }
            withLabel: 'long_single' {
                queue = 'long'
                cpus = 1
                memory = '8G'
                time = '2h' 
            }
        }
    }
}

report {
  enabled = true
  file = "${params.results}/execution_report.html"
}