params {
    reads = ''
    phred = 33
    results = './results'
    pairedEnd = true
    help = false
    collapse=false
    mpa_db_name = "mpa_v20_m200"
    mpa_db_tar = "https://github.com/maxibor/metaphlan-nf/releases/download/0.1/mpa_v20_m200.tar.gz"
}


profiles {
    standard {
        executor {
            name = 'local'
        }
         process{
            withLabel : 'intenso' {
                cpus = 8
                memory = '9G'
            }
            withLabel : 'expresso' {
                cpus = 6
                memory = '2G'
            }
            withLabel : 'ristretto' {
                cpus = 1
                memory = '2G'
            }
            withName : 'multiqc' {
                cpus = 1
                memory = '4G'
            }
        }
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        process {
            withLabel : 'intenso' {
                container = 'maxibor/metaphlan-nf-bio:latest'
            }
            withLabel : 'expresso' {
                container = 'maxibor/metaphlan-nf-bio:latest'
            }
            withLabel : 'ristretto' {
                container = 'maxibor/metaphlan-nf-py:latest'
            }
            withName : 'multiqc' {
                container = 'maxibor/metaphlan-nf-py:latest'
            }
        }
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            withLabel : 'intenso' {
                container = 'maxibor/metaphlan-nf-bio:latest'
            }
            withLabel : 'expresso' {
                container = 'maxibor/metaphlan-nf-bio:latest'
            }
            withLabel : 'ristretto' {
                container = 'maxibor/metaphlan-nf-py:latest'
            }
            withName : 'multiqc' {
                container = 'maxibor/metaphlan-nf-py:latest'
            }
        }
    }
    conda {
        process {
            withLabel : 'intenso' {
                conda = "$baseDir/envs/bio/environment.yml"
            }
            withLabel : 'expresso' {
                conda = "$baseDir/envs/bio/environment.yml"
            }
            withLabel : 'ristretto' {
                conda = "$baseDir/envs/py/environment.yml"
            }
            withName : 'multiqc' {
                 conda = "$baseDir/envs/py/environment.yml"
            }
        }
    }
    test {
        executor {
            name = 'local'
        }
         process{
            cpus = 1
            memory = '4G'
        }
        params {
            reads = "$baseDir/test/reads/*.{1,2}.fastq.gz"
            phred = 64
        }
    }
    test_local {
        params.mpa_db_tar = "$baseDir/test/mpa_v20_m200.tar.gz"
        executor {
            name = 'local'
        }
         process{
            cpus = 6
            memory = '8G'
        }
        params {
            reads = "$baseDir/test/reads/*.{1,2}.fastq.gz"
            phred = 64
        }
    }
    shh_sdag {
        executor {
            name = 'slurm'
            queueSize = 10
        }
        singularity {
            runOptions = '-B /run/shm:/run/shm'
            cacheDir = "/projects1/singularity_scratch/cache/"
        }
        process{
            errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
            maxRetries = 1
            maxErrors = '-1'
            withLabel : 'intenso' {
                queue = 'short'
                cpus = 8 * task.attempt
                memory = 12.G *  task.attempt
                time = 2.h * task.attempt
            }
            withLabel : 'expresso' {
                queue = 'short'
                cpus = 6 * task.attempt
                memory = 2.G * task.attempt
                time = 1.h * task.attempt
            }
            withLabel : 'ristretto' {
                queue = 'short'
                cpus = 1 
                memory = 2.G * task.attempt 
                time = 30.m * task.attempt 
            }
            withName : 'multiqc' {
                queue = 'short'
                cpus = 1
                memory = 4.G * task.attempt 
                time = 30.m * task.attempt 
            }
        }
    }
    shh_cdag {
        executor {
            name = 'slurm'
            queueSize = 10
        }
        singularity {
            runOptions = '-B /run/shm:/run/shm'
            cacheDir = "/projects1/singularity_scratch/cache/"
        }
        process{
            errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
            maxRetries = 1
            maxErrors = '-1'
            withLabel : 'intenso' {
                queue = 'long'
                cpus = 8 * task.attempt
                memory = 12.G *  task.attempt
                time = 2.h * task.attempt
            }
            withLabel : 'expresso' {
                queue = 'long'
                cpus = 6 * task.attempt
                memory = 2.G * task.attempt
                time = 1.h * task.attempt
            }
            withLabel : 'ristretto' {
                queue = 'long'
                cpus = 1 
                memory = 2.G * task.attempt 
                time = 30.m * task.attempt 
            }
            withLabel: 'long_single' {
                queue = 'long'
                cpus = 1
                memory = 4.G * task.attempt 
                time = 30.m * task.attempt 
            }
        }
    }
}